<img alt="burger" src="../public/assets/images/burger.jpg">

<h1>Eat-Da-Burger</h1>

<form class="burgerForm" action="/" method="POST">
	<div class="form-group">
		<label for="new-burger">What would you like?</label>
		<textarea type="text" name="name"
	</div>

	<button type="submit">Submit</button>
</form>
